 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
      background: url('/x.jpg') no-repeat center center fixed;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      min-height: 100vh;
      color: #333;
    }
    .container {
      max-width: 573px;
      width: 100%;
      background: rgba(255, 255, 255, 0.068);
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
      overflow-y: auto;
    }
    header {
      text-align: center;
      margin-bottom: 20px;
    }
    header h1 {
      font-size: 26px;
      color: #a09827c5;
      margin-bottom: 10px;
    }
    header p {
      margin: 5px 0;
      font-size: 16px;
    }
    .lugar {
      text-align: center;
      margin: 20px 0;
      
    }
    .lugar a:hover{
      background: #f5f5f5;
      color: black;
    }
    .lugar img {
      width: 30%;
      border-radius: 12px;
      margin-bottom: 10px;
    }
    .lugar a {
      display: inline-block;
      background: #dfb7078f;
      color: white;
      padding: 10px 16px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
    }
    .card {
      background-image: url('/1fe8ac8bc575672d604bd9d35317cc03.jpg');
      border-radius: 20px;
      padding: 30px;
      text-align: center;
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
      justify-content: center;
      background-size: cover;

    }
    h2 {
      margin-bottom: 20px;
      color: #000000;
    }
    input[type="text"] {
      width: 90%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccae06;
      border-radius: 10px;
      font-size: 16px;
    }
    .cantidad {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      margin-bottom: 20px;
    }
    .cantidad button {
      background: #88888838;
      color: rgb(0, 0, 0);
      border: none;
      padding: 15px;
      border-radius: 12px;
      cursor: pointer;
      font-size: 18px;
      transition: 0.2s;
    }
    .cantidad button:hover {
      background: #f1ee20;
    }
    .cantidad button.active {
      background: #6e650e;
    }
    .confirmar {
      background: #e0921c;
      color: white;
      border: none;
      padding: 12px 20px;
      border-radius: 12px;
      font-size: 18px;
      cursor: pointer;
      transition: 0.2s;
    }
    .confirmar:hover {
      background: #f5f5f5;
      color: black;
    }

    /* Pantalla de video intro */
    #introVideo {
      position: fixed;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      background: black;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }
    #introVideo video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.vest {
  text-align: center;
  margin: 20px 0;
}

.vest p {
  font-weight: bold;
  margin-bottom: 10px;
}

.vest-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* separación entre imágenes */
}


.vest-imgs img {
  height: 350px;   /* mismo alto para las dos */
  width: auto;
  object-fit: contain;
}

.imagenes {
  position: fixed;          /* fijo arriba */
  top: 0;
  left: 0;
  width: 100%;              /* ancho completo */
  background: rgba(0, 0, 0, 0.199); /* negro translúcido */
  display: flex;
  justify-content: center;  /* centra las imágenes horizontalmente */
  align-items: center;      /* centra verticalmente */
  gap: 20px;                /* espacio entre imágenes */
  padding: 10px 0;          /* espacio interno */
  z-index: 1000;            /* encima de todo */
}

.imagenes img {
  height: 150px;   /* mismo alto para ambas */
  width: auto;    /* se ajusta el ancho proporcional */
  object-fit: contain;
}

.p {
  font-family: "Edwardian Script ITC", cursive;
  font-size: 50px;
  font-weight: bold;
  text-align: center;

  /* Degradado dorado */
  background: linear-gradient(90deg, #f8c84e, #383210, #daa520);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Sombra difusa negra */
  text-shadow: 2px 2px 6px rgb(90, 90, 90);
}

#countdown {
  font-family: "Edwardian Script ITC", cursive;
  font-size: 36px;
  font-weight: bold;
  color: gold;
  text-align: center;
  margin-top: 20px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.V {
  font-family: "Times New Roman", serif; /* Fuente */
  color: white; /* Letra blanca */
  background-color: black; /* Fondo negro */
  border: 3px solid #FFD700; /* Contorno dorado */
  border-radius: 15px; /* Bordes redondeados */
  padding: 15px 25px; /* Espaciado interno */
  display: inline-block; /* Para que el tamaño se ajuste al contenido */
  text-align: center; /* Texto centrado */
  font-size: 20px; /* Tamaño de letra, ajustable */
}
